
/* Scrollbar Stuff */
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: hsl(0, 0%, 95%);
    border-radius: 20px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #dbdbff;
    border-radius: 15px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #9b9bff;
  }

input[type=submit]{
  background-color: #9b9bff;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  color: white;
  padding: 10px 25px;
}

input[type=submit]:hover{
  background-color: #7171ff;
}

input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}